.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid grey;
    padding-top: 10px;
    border-bottom: 1px solid grey;
    margin-left: 50px;
    margin-right: 50px;
}
.logoBlock {
    padding-top: 50px;
}
.footer div img {
    height: 100px;
}
.footer div p {
    width: 40%;
}
.footer div .logo img {
    height: 50px;
}
.footer .menu {
    display: flex;
    list-style: none;
    padding-right: 100px;
}
.footer .menu h5{
    padding: 20px;
}

.footer .menu li ul{
    padding: 0;
}

.footer .form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.form input[type='email']{
    margin-bottom: 40px;
    height: 60px;
    background-color: grey;
    font-size: 30px;
}
.form input[type='email']:focus{
    background-color: white;
    outline: 4px solid yellowgreen;
}
.signature {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}